#circle {
  padding: 5px;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-bottom-color: white;
  border-radius: 20px;

  box-shadow: 0px 0px 2px 0px;
  animation: spin 1s linear infinite;
  transition: width linear 500ms;
  transition: height linear 500ms;
}

@keyframes spin {
  0% {
    rotate: 0deg;
    width: 10px;
    height: 10px;
  }
  25% {
    rotate: 90deg;
    width: 13px;
    height: 13px;
  }
  75% {
    rotate: 180deg;
    width: 13px;
    height: 13px;
  }
  100% {
    rotate: 359deg;
    width: 10px;
    height: 10px;
  }
}

#main {
  padding: 1rem;
  display: flex;
}
