@import "./colors.css";
@import "./widgets/buttons.css";
@import "./Sidebar.css";
@import "./Header.css";

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-flow: column;
    background: var(--background);
    width: 100vw;
    height: 100vh;
}
body > div {
    display: flex;
}

#app {
    width: 60vw;
    padding: 20px;
}

ul {
    list-style-type: none;
}
