@import "./colors.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  @apply flex flex-col w-screen h-screen dark:bg-black bg-white;
}

/* Have no idea why this exists but is necessary */
body > div {
  display: flex;
}

#app {
  width: 100vw;
  height: 100vh;
}

ul {
  list-style-type: none;
}
