#sidebar {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 10%;

  background: var(--sidebar-bg);
  color: var(--sidebar-fg);
}

#sidebar ul {
  list-style-type: bullet;
  text-align: center;
  display: flex;
  flex-flow: column;
  gap: 8px;
  overflow-y: auto;
  height: 100%;
  padding: 1rem;
}

#sidebar a {
  font-size: 500;
  color: unset;
}
.inactive-list {
  color: var(--black);
}
.active-list {
  font-weight: 700;
  background-color: var(--sidebar-link-bg);
  color: var(--sidebar-link-fg);
  border-radius: 8px;
}

#sidebar li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

#more-options {
  display: none;
  position: absolute;
  left: 10px;
}
.more-options-button {
  background: var(--sidebar-bg);
  color: var(--sidebar-fg);
  font-size: 10pt;
  font-weight: 700;
}

.active-list:hover #more-options {
  display: block;
}

#more-options dialog {
  margin: 50px auto;
}

#more-options ul {
  width: 100%;
}

#more-options li {
  border: 0px black;
  padding: 2px;
}
