
#sidebar {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 10%;

    background: var(--sidebar-bg);
    color: var(--sidebar-fg);
}

#sidebar ul {
    list-style-type: bullet;
    text-align: center;
    display: flex;
    flex-flow: column;
    gap: 8px;
    overflow-y: auto;
    width: 100%;
}

.active-list {
    font-weight: 700;
}

#more-options {
    display: none;
    position: absolute;
    left: 10px;
}
.more-options-button {
    background: var(--sidebar-bg);
    color: var(--sidebar-fg);
    font-size: 10pt;
    font-weight: 700;
}
.active-list:hover #more-options {
    display: block;
}

#sidebar li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

#more-options dialog {
    margin: 50px auto;
}

#more-options ul {
    width: 100%;
}

#more-options li {
    border: 0px black;
    padding: 2px;
}