.project-info {
  @apply grid grid-cols-2 gap-y-4
  p-4 
  rounded-lg shadow-md shadow-white-200
  bg-white dark:bg-black-200;
}

.project-info .tags {
  @apply flex gap-2 items-center;
}

.project-info .svg-button {
  scale: 0.9;
  padding: 0px;
  margin: 0px;
}

#addtag {
  @apply p-4;
}
