@import "@/app/css/colors.css";

.task-card {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  margin: 1rem;
  background: var(--color2);
  border-radius: 1rem;
}

.task-date {
  opacity: 0.5;
}

.tag-list {
  padding: 2px 0px;
  display: flex;
  gap: 8px;
}

.tag {
  background-color: var(--color3);
  color: var(--color1);

  font-size: 10pt;
  padding: 4px 6px;
  border-radius: 8px;
  font-weight: 600;
}
