@import "@/app/css/colors.css";

.sidebar {
  overflow-x: hidden;
  background: var(--black);
  color: var(--white);
  height: 100%;
  padding: 1rem;
  margin-right: 0.5rem;
  transition: 0.3s;
}
.sidebar-open {
  width: max(20%, 10rem);
}
.sidebar-close {
  width: 0px;
  padding: 0px;
  margin: 0px;
}

#sidebar ul {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* overflow-x: clip; */

  list-style-type: none;
  gap: 1rem;
  margin: 0px;
  width: 100%;
}

#sidebar li {
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  transition: all linear 300ms;
}

li a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  font-weight: 700;
  opacity: 0.4;
  text-align: center;
  transition: all linear 300ms;
}

#active,
#sidebar li:hover {
  background: var(--blue);
  border-radius: 1rem;
}
#active a,
#sidebar li:hover a {
  opacity: 1;
}
