@import "@/app/css/colors.css";

#dashboard {
  @apply bg-white-100 dark:bg-black 
    text-black dark:text-white
    px-8 py-4;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}

#project-grid {
  @apply grid p-4 text-inherit gap-4;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.project-card {
  @apply p-2
    bg-white dark:bg-black
    text-inherit
    rounded-md border border-solid border-grey
    shadow-lg dark:shadow-white dark:shadow-sm;
  min-width: 300px;
  min-height: 200px;
  transition: all linear 100ms;
}
.project-card .card {
  @apply flex flex-col justify-between  gap-2
    text-black dark:text-white;
}
.project-card:hover {
  box-shadow: none;
  border: 2px solid var(--blue);
  scale: 0.95;
}

.tags {
  @apply flex flex-row flex-wrap gap-1;
}
.project-tag {
  @apply bg-yellow text-black rounded-md px-2 py-1 font-semibold;
}

.project-card #options-icon {
  visibility: hidden;
  position: relative;
  left: 90%;
  top: 20%;

  padding: 0px;
  margin: 0px;
  border: 0px;
  background: transparent;
}
#options-icon svg {
  @apply text-black dark:text-white;
  width: 24px;
  opacity: 0.7;
}
.project-card:hover #options-icon,
#options-icon:hover {
  visibility: visible;
}
