@import "@/app/css/colors.css";

#dashboard {
  @apply bg-white dark:bg-black px-8 py-4;
  width: 100%;
}
a {
  text-decoration: none;
}

#project-grid {
  @apply flex flex-wrap gap-4;
}

.project-card {
  @apply flex-auto p-2
    bg-white dark:bg-black
    rounded-md border border-solid border-grey
    shadow-lg;

  min-width: 300px;
  min-height: 50px;
  transition: all linear 100ms;
}

.project-card a {
  color: var(--color3);
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}
.project-card:hover {
  box-shadow: none;
  border: 2px solid var(--accent);
}
#tags {
  display: flex;
  flex-flow: row;
  gap: 4px;
}
.project-tag {
  padding: 4px;
  background: var(--yellow);
  border-radius: 4px;
  font-weight: 500;
}

.project-card #options-icon {
  visibility: hidden;
  position: relative;
  left: 90%;
  top: 20%;

  padding: 0px;
  margin: 0px;
  border: 0px;
  background: transparent;
}
#options-icon svg {
  width: 24px;
}
.project-card:hover #options-icon,
#options-icon:hover {
  visibility: visible;
}

#more-options {
  width: 100px;
  height: 100px;
  padding: 1rem;
}
