@import "@/app/css/colors.css";

#dashboard {
  @apply bg-white dark:bg-black 
    text-black dark:text-white
    px-8 py-4;
  width: 100%;
}
a {
  text-decoration: none;
}

#project-grid {
  @apply grid gap-4
  text-inherit;
  grid-template-columns: repeat(auto-fit, minmax(min(16rem, 100%), 1fr));
}

.project-card {
  @apply flex-auto p-2
    bg-white dark:bg-black
    text-inherit
    rounded-md border border-solid border-grey
    shadow-lg dark:shadow-white dark:shadow-sm;

  min-width: 300px;
  min-height: 50px;
  transition: all linear 100ms;
}

.project-card a {
  @apply flex flex-col gap-2
    text-black dark:text-white;
}
.project-card:hover {
  box-shadow: none;
  border: 2px solid var(--accent);
}
#tags {
  @apply flex flex-row gap-1;
}
.project-tag {
  @apply bg-yellow text-black rounded-md px-2 py-1 font-semibold;
}

.project-card #options-icon {
  visibility: hidden;
  position: relative;
  left: 90%;
  top: 20%;

  padding: 0px;
  margin: 0px;
  border: 0px;
  background: transparent;
}
#options-icon svg {
  width: 24px;
}
.project-card:hover #options-icon,
#options-icon:hover {
  visibility: visible;
}

#more-options {
  width: 100px;
  height: 100px;
  padding: 1rem;
}
