@import "@/app/css/colors.css";
#taglist {
  @apply flex flex-col;
}

#tag-list {
  @apply flex gap-2 flex-wrap;
  max-width: 200px;
}

.tag {
  @apply bg-blue dark:bg-green text-white 
    rounded-lg font-semibold 
    px-2 py-1 mt-2;
}

button {
  border-radius: 20px;
  border: 1px solid var(--color3);
}

#root {
  display: flex;
  gap: 2rem;
}

datalist {
  position: absolute;
  max-height: 20em;
  border: 0 none;
  overflow-x: hidden;
  overflow-y: auto;
}

datalist option {
  font-size: 0.8em;
  padding: 0.3em 1em;
  background-color: #ccc;
  cursor: pointer;
}

datalist option:hover,
datalist option:focus {
  color: #fff;
  background-color: #036;
  outline: 0 none;
}
