svg {
  width: 32px;
}

.center-x {
  @apply flex items-center justify-between;
}

#header {
  @apply py-2 w-screen bg-white dark:bg-black text-black dark:text-white;
}

.logo {
  font-weight: 700;
}

#header > div:nth-child(2) svg {
  width: 24px;
}

#header > div:nth-child(2) button:first-child {
  /* @apply bg-blue rounded-md py-1 px-2 flex gap-1; */
  border: 0px;
}
