@import "@/app/css/colors.css";

#navbar {
    background: var(--sidebar-bg);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar > #user {
    display: flex;
    flex-flow: column;
}