$primary-color:  #000000;
$secondary-color:  #ffffff;
$accent: #090b10;

$primary-button-bg: #2d4852;
$primary-button-fg: $secondary-color;

$secondary-button-bg: #eff0f6;
$secondary-button-fg: $primary-color;

$danger-color: #af1c08;

