.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    gap: 8px;
  }
}  

.completed-task {
  opacity: 60%;
  h4 {
    text-decoration-line: line-through;
    text-decoration-thickness: 2px;
  }
}
