.high-priority {
    @apply px-2 py-1 text-red-200 bg-red-100 rounded-md font-bold;
}

.medium-priority {
    @apply px-2 py-1 text-yellow-200 bg-yellow-100 rounded-md font-bold;
}

.low-priority {
    @apply px-2 py-1 text-blue-200 bg-blue-100 rounded-md font-bold;
}

.tag {
    @apply  flex items-center px-2 py-1 bg-yellow text-black rounded-md;
}

.tag svg {
    width: 0px;
    transition: width 300ms ease-in-out;
}

.tag:hover svg {
    width: 1rem;
}

.badge {
    @apply relative whitespace-break-spaces overflow-hidden;
}